In [ ]:
#Q1. Create one variable containing following type of data:

In [1]:
string_var = "Hello, world!"
list_var = [1, 2, 3, 4, 5]
float_var = 3.14
tuple_var = (1, 2, 3, 4, 5)

In [ ]:
#Q2. Determining data types of given variables:

In [2]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

data_type_var1 = type(var1)
data_type_var2 = type(var2)
data_type_var3 = type(var3)
data_type_var4 = type(var4)

print(data_type_var1)
print(data_type_var2)
print(data_type_var3)
print(data_type_var4)

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
#Q3. Explanation of operators:

In [ ]:
#(i) '/' operator: It performs division and returns a float value.

In [3]:
result = 10 / 3
print(result)

3.3333333333333335

In [ ]:
#(ii) '%' operator: It performs modulus division and returns the remainder.

In [4]:
result = 10 % 3
print(result)

1

In [ ]:
#(iii) '//' operator: It performs floor division and returns the quotient as an integer, discarding any remainder.

In [5]:
result = 10 // 3
print(result)

3

In [ ]:
#(iv) '**' operator: It performs exponentiation and returns the result of raising the first operand to the power of the second operand.

In [6]:
result = 2 ** 3
print(result)

8

In [ ]:
#Q4. Creating a list and printing elements with their data types:

In [7]:
my_list = [10, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John'}, (4, 5, 6), None, 1000.0, 'World']

for item in my_list:
    print(item, type(item))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John'} <class 'dict'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
1000.0 <class 'float'>
World <class 'str'>

In [ ]:
#Q5. Verifying divisibility using a while loop:

In [8]:
A = 20
B = 4
count = 0

while A % B == 0:
    A = A / B
    count += 1

print("A is divisible by B:", count, "times")

A is divisible by B: 1 times

In [ ]:
#Q6. Checking divisibility of elements in a list using a for loop and if-else condition:

In [9]:
my_list = list(range(1, 26))

for num in my_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
#Q7. Explanation of mutable and immutable data types:

In [10]:
'''Mutable data types can be modified after they are created,
while immutable data types cannot be modified.
When you modify a mutable object, 
it doesn't create a new object but changes the existing one. 
In contrast, when you modify an immutable object, 
a new object is created.'''

In [12]:
# Immutable data types
a = 5  # integer
b = "Hello"  # string
c = (1, 2, 3)  # tuple

# Modifying immutable objects creates new objects
a += 1  # The value of 'a' is incremented by 1, but a new object is created
b += " World"  # Concatenates " World" to the string, but a new object is created
c += (4, 5)  # Concatenates (4, 5) to the tuple, but a new object is created

print(a)
print(b)
print(c)

6
Hello World
(1, 2, 3, 4, 5)

In [13]:
# Mutable data types
list1 = [1, 2, 3]  # list
dict1 = {'a': 1, 'b': 2}  # dictionary
set1 = {1, 2, 3}  # set

# Modifying mutable objects updates the same object
list1.append(4)  # Adds 4 to the list
dict1['c'] = 3  # Adds a new key-value pair to the dictionary
set1.add(4)  # Adds 4 to the set

print(list1)
print(dict1)
print(set1)

[1, 2, 3, 4]
{'a': 1, 'b': 2, 'c': 3}
{1, 2, 3, 4}