In [ ]:
#Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
#Single-line comments: These comments are used to document code on a single line.

In [ ]:
# This is a single-line comment

In [ ]:
#Multi-line comments: These comments can span multiple lines and are enclosed within triple quotes (either single or double). They are typically used for longer comments or documentation. For example:

In [ ]:
"""
This is a multi-line comment.
It can span multiple lines.
"""
'''
This is also a multi-line comment.
It can span multiple lines.
'''

In [ ]:
# What are variables in Python? How do you declare and assign values to variables?

In [ ]:
"""
In Python, variables are 
used to store data values. They act as placeholders 
for storing and manipulating data. To declare and assign 
a value to a variable, we can use the following syntax:
"""

In [6]:
#variable_name = value
name = "John"
age = 25

In [ ]:
#Q3. How do you convert one data type to another in Python?

In [ ]:
'''
In Python, we can use various built-in functions to convert
one data type to another. Here are a few common conversion 
functions:

int(): Converts a value to an integer.
float(): Converts a value to a floating-point number.
str(): Converts a value to a string.
list(): Converts a value to a list.
tuple(): Converts a value to a tuple.
Here's an example of converting a string to an integer:
'''

In [8]:
#Here's an example of converting a string to an integer:
age = "25"
age_int = int(age)

In [ ]:
#Q4. How do you write and execute a Python script from the command line?

In [ ]:
'''
To write and execute a Python script from the command line, follow these steps:

1.Open a text editor and write your Python code.
2.Save the file with a .py extension, for example, script.py.
3.Open the command line or terminal.
4.Navigate to the directory where the script is saved using the cd command.
5.Execute the script by typing "python script.py" and pressing Enter.
'''

In [ ]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [10]:
'''
To obtain the sub-list [2, 3] from the given list my_list, 
we can use slicing in Python. Here's the code to achieve that:
'''
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [ ]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
"""
In mathematics, a complex number is a number of the form "a + bi", where "a" and "b" are 
real numbers and "i" represents the imaginary unit (âˆš-1). In Python, complex numbers can be 
represented using the "complex()" function or by directly specifying the real and imaginary parts.
"""

In [ ]:
#Here's an example of creating a complex number in Python:

In [11]:
z = complex(2, 3)  # Complex number with real part 2 and imaginary part 3

In [ ]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [12]:
age = 25

In [ ]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [ ]:
price = 9.99
'''
In this code, the variable price is declared and assigned the 
value 9.99. The data type of this variable is a floating-point 
number (float) because it contains a decimal point.
'''

In [ ]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [14]:
name = "Atanu Biswas"
#To print the value of this variable, we can use the print() function:
print(name)

Atanu Biswas

In [ ]:
#Q10. Given the string "Hello, World!", extract the substring "World".

In [15]:
string = "Hello, World!"
substring = string[7:]
print(substring)

World!

In [ ]:
#Q11. Create a variable named is_student and assign it a boolean value indicating whether you are currently a student or not.

In [16]:
is_student = True  # or False, depending on your student status